SERVER_IP="xxx.xxx.x.xxx"
SERVER_PORT=00000
AUTH_PROVIDER="simpleauth"
SHAPE_BUILDER="pyclassic"
USERNAME="buildbot"
SNAPSHOT_STORE="in_memory"
BLOCK_PALETTE="classic"
SHAPE_CATALOGUE="shape_catalogue"